.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: min(8vh, 60px);
    margin-left: min(6vh, 65px);
    margin-right: min(6vh, 65px);
}

.page-header .genre-list{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #022B3A;
    width: 30px;
    position: relative;
}

.page-header .genre-list img{
    width: 20px;
    height: 20px;
}

.page-header .genre-list .dropdown-genre-list{
    position: absolute;
    background-color: white;
    border: solid black;
    padding: 10px;
    top: 30px;
    left: 0px;
    display: none;
    flex-direction: column;
    gap: 20px;
}

.page-header .genre-list .dropdown-genre-list .genre{
    display: flex;
    gap: 20px;
}

.page-header .genre-list .dropdown-genre-list .genre input{
    width: 20px;
    height: 20px;
}

.page-header .genre-list .genre-content{
    width: min(20vh, 150px);
    height: min(10vh, 30px);

    margin: 0;
    padding: 0;

    background-color: white;
}

.page-header .search-box{
    width: 100%;
}

.page-header .search-box input{
    height: min(10vh, 28px);
    width: min(60vh, 300px);

    padding: 0 0 0 20px;

    background-color: white;
}

.page-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    margin-top: min(8vh, 60px);
    margin-left: min(6vh, 60px);
    margin-right: min(6vh, 60px);
}

.page-content .book-card{
    width: 340px;
    height: 240px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;

    border: none;

    background-color: #022B3A;
}

.page-content .book-card .book-picture{
    width: 135px;
    height: 200px;

}

.page-content .book-card .book-content{
    width: 100%;
    margin: 0;
    padding: 0;

    text-align: left;
    color: white;
}

#all-genre-content{
    color: white;
    background-color: #022B3A;
    border-color: #022B3A;
}

#admin-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(30vh, 120px);
    height: min(15vh, 40px);
    font-size: min(2vw, 16px);
    color: white;
    background-color: #022B3A;
    border-color: #022B3A;
    cursor: pointer;

}

.search-button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #022B3A;
    background-color: #022B3A;
}

.search-button img{
    width: 20px;
    height: 20px;
}
